/*
COLORS

Primary: #eb2f64
Primary light: #FF3366
Primary dark: #BA265D

Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999

*/
/*
COLORS

Primary: #eb2f64
Primary light: #FF3366
Primary dark: #BA265D

Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999

*/
/*

- FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

--- SPACE SYSTEM
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/
* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none; }
  50% {
    transform: scale(1.05);
    box-shadow: 0 1.2rem 3.6rem rgba(0, 0, 0, 0.3); }
  100% {
    transform: scale(1);
    box-shadow: none; } }

body {
  background-image: linear-gradient(to right bottom, #ff3366, #ba265d);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: #777; }

.u-margin-right--small {
  margin-right: 0.8rem; }

.u-margin-right--medium {
  margin-right: 1.6rem; }

.u-margin-right--big {
  margin-right: 2.4rem; }

.u-margin-right--huge {
  margin-right: 3.6rem; }

.u-margin-bottom--small {
  margin-bottom: 0.8rem; }

.u-margin-bottom--medium {
  margin-bottom: 1.6rem; }

.u-margin-bottom--big {
  margin-bottom: 2.4rem; }

.u-margin-bottom--huge {
  margin-bottom: 3.6rem; }

.u-margin-top--small {
  margin-top: 0.8rem; }

.u-margin-top--medium {
  margin-top: 1.6rem; }

.u-margin-top--big {
  margin-top: 2.4rem; }

.u-margin-top--huge {
  margin-top: 3.6rem; }

.btn-inline {
  border: none;
  padding: 0.4rem 0.8rem;
  color: #eb2f64;
  border-bottom: 1px solid #eb2f64;
  cursor: pointer;
  transition: margin-left 0.3s; }
  .btn-inline span {
    margin-left: 0; }
  .btn-inline:hover {
    color: #333;
    border-bottom: 1px solid #333; }
    .btn-inline:hover span {
      margin-left: 8px; }
  .btn-inline:focus {
    outline: none;
    animation: pulsate 0.5s infinite; }
    .btn-inline:focus span {
      margin-left: 8px; }

.search__form {
  flex: 0 0 40%;
  display: flex;
  flex-grow: 1;
  max-width: 40rem;
  position: relative; }

.search__input {
  border: none;
  background-color: #f4f2f2;
  padding: 0.8rem 2.4rem;
  width: 80%;
  border-radius: 1.8rem;
  height: 3.2rem;
  transition: all 0.3s; }
  .search__input:focus {
    outline: none;
    width: 90%;
    background-color: #f0eeee;
    transform: scaleY(1.1); }

.search__button {
  border: none;
  background-color: inherit;
  transform: translateX(-3rem);
  cursor: pointer; }
  .search__button:focus {
    outline: none; }

.search__icon {
  width: 2rem;
  height: 2rem;
  fill: #777; }

.user-nav {
  align-self: stretch;
  display: flex;
  justify-content: center; }
  .user-nav > * {
    padding: 0 2rem;
    cursor: pointer; }
  .user-nav > *:hover {
    background-color: #ccc; }
  .user-nav__icon-box {
    display: flex;
    position: relative; }
    .user-nav__icon-box:hover {
      background-color: #ccc; }
  .user-nav__icon {
    width: 2.4rem;
    height: 2.4rem;
    align-self: center; }
  .user-nav__notification {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 1.8rem;
    height: 1.8rem;
    background-color: #eb2f64;
    color: #fff;
    font-family: inherit;
    font-size: 1.2rem;
    border-radius: 50%;
    text-align: center; }
  .user-nav__user {
    display: flex;
    align-items: center;
    gap: 1.2rem; }
    .user-nav__user-photo {
      width: 4.8rem;
      height: 4.8rem;
      border-radius: 50%; }
    .user-nav__user-name {
      font-family: inherit;
      font-size: 1.6rem;
      transform: translateY(1rem); }

.side-nav {
  position: relative;
  margin-top: 2.4rem;
  flex: 1;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem; }
  .side-nav__item {
    position: relative;
    padding: 1.6rem 3.2rem; }
    .side-nav__item span {
      font-size: inherit; }
    .side-nav__item::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      background-color: #eb2f64;
      width: 0.8rem;
      height: 100%;
      transform: scaleY(0);
      transition: transform 0.3s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.3s; }
    .side-nav__item:hover::before, .side-nav__item--active::before {
      transform: scaleY(1);
      width: 100%; }
    .side-nav__item:active::before {
      background-color: #ba265d; }
  .side-nav__link:link, .side-nav__link:visited {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2rem;
    color: inherit;
    text-decoration: none;
    z-index: 10; }
  .side-nav__icon {
    fill: #f0eeee;
    width: 1.8rem;
    height: 1.8rem;
    color: inherit; }

.legal {
  padding: 1.2rem 2rem;
  font-size: 1.2rem; }

.gallery {
  display: flex; }
  .gallery__photo {
    width: 100%;
    height: 100%;
    background-size: cover; }

.overview {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f0eeee; }
  .overview__heading {
    font-family: inherit;
    font-size: 2.4rem;
    font-weight: 300;
    color: #333;
    text-transform: uppercase;
    padding: 1.6rem 3.2rem; }
  .overview__stars {
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem; }
    .overview__stars > * {
      cursor: pointer; }
  .overview__icon-star, .overview__icon-location {
    width: 2rem;
    height: 2rem; }
  .overview__icon-star {
    fill: #eb2f64; }
  .overview__location {
    display: flex;
    padding: 0.8rem 1.6rem;
    justify-content: space-between;
    align-items: center;
    gap: 0.8rem; }
    .overview__location > * {
      cursor: pointer; }
  .overview__icon-location {
    fill: #eb2f64; }
  .overview__rating {
    background-color: #eb2f64;
    align-self: stretch;
    padding: 0.8rem 1.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; }
    .overview__rating--average {
      font-family: inherit;
      font-size: 2rem;
      font-weight: 400;
      color: #fff; }
    .overview__rating--count {
      font-family: inherit;
      font-size: 1.2rem;
      font-weight: 400;
      color: #fff;
      text-transform: uppercase; }

.description {
  background-color: #faf9f9;
  flex: 0 0 60%;
  padding: 2.8rem 2.8rem; }
  .description__list {
    list-style: none;
    padding: 3.6rem 0;
    border-bottom: 1px solid #f0eeee;
    border-top: 1px solid #f0eeee;
    display: flex;
    flex-wrap: wrap;
    row-gap: 1.2rem; }
  .description__item {
    flex: 0 0 50%;
    display: flex;
    align-items: center;
    gap: 0.4rem; }
  .description__icon {
    width: 1.6rem;
    height: 1.6rem;
    fill: #ba265d; }
  .description__text {
    font-family: inherit;
    font-size: 1.6rem;
    font-weight: 300;
    color: #333;
    line-height: 1.6; }
  .description__recommend {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .description__recommend-text {
      font-family: inherit;
      font-size: 1.6rem;
      font-weight: 300;
      color: #333;
      font-size: 1.4rem;
      color: #777; }
    .description__recommend-photos {
      display: flex;
      align-items: center; }
    .description__recommend-photo {
      width: 4.8rem;
      height: 4.8rem;
      border-radius: 50%;
      border: 3px solid #faf9f9; }
      .description__recommend-photo:not(:last-child) {
        margin-right: -1.5rem; }

.user-review {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 3.6rem;
  align-items: center; }

.review {
  background-color: #faf9f9;
  padding: 2.4rem 4rem; }
  .review__text {
    font-family: inherit;
    font-size: 1.6rem;
    font-weight: 300;
    color: #333;
    line-height: 1.6; }
  .review__user {
    display: flex;
    align-items: center;
    gap: 1.6rem; }
    .review__user-box {
      margin-right: auto; }
    .review__user-photo {
      width: 4.8rem;
      height: 4.8rem;
      border-radius: 50%; }
    .review__user-name {
      text-transform: uppercase;
      font-size: 1.2rem;
      font-weight: 500; }
    .review__user-date {
      font-size: 1rem;
      font-style: italic; }
    .review__user-rating {
      font-size: 2.4rem;
      color: #eb2f64; }

.container {
  display: flex;
  flex-direction: column;
  max-width: 120rem;
  margin: 8rem auto;
  background-color: #f4f2f2;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  min-height: 80rem; }

.content {
  display: flex;
  height: 100%;
  flex: 1; }

.sidebar {
  flex: 0 0 18%;
  background-color: #333;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #faf9f9; }

.hotel-view {
  flex: 1; }

.detail {
  margin: 4.6rem 3.6rem;
  display: flex;
  gap: 3.6rem; }

.header {
  display: flex;
  height: 7rem;
  background-color: #fff;
  border-bottom: 1px solid #f0eeee;
  justify-content: space-between;
  align-items: center;
  gap: 3.6rem; }

.nav {
  flex: 0 0 18%; }

.logo {
  height: 4rem;
  margin-left: 2.4rem;
  cursor: pointer;
  transition: all 0.4s; }
  .logo:hover {
    transform: scale(1.1); }
