@mixin heading--primary {
  font-family: inherit;
  font-size: 2.4rem;
  font-weight: 300;
  color: $color-grey-dark-1;
  text-transform: uppercase;
}

@mixin span-rating($size, $weight) {
  font-family: inherit;
  font-size: $size;
  font-weight: $weight;
  color: #fff;
}

@mixin normal-text {
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 300;
  color: $color-grey-dark-1;
}

@mixin line-bottom-1 {
  border-bottom: $line-grey-1;
}

@mixin line-top-1 {
  border-top: $line-grey-1;
}
