.header {
  display: flex;
  height: 7rem;
  background-color: #fff;
  border-bottom: $border-bottom-1;

  justify-content: space-between;
  align-items: center;
  gap: 3.6rem;
}

.nav {
  flex: 0 0 18%;
}

.logo {
  height: 4rem;
  margin-left: 2.4rem;

  cursor: pointer;

  transition: all 0.4s;

  &:hover {
    transform: scale(1.1);
  }
}
