.search {
  &__form {
    flex: 0 0 40%;
    // background-color: aquamarine;
    // flex: 1;
    display: flex;
    flex-grow: 1;
    max-width: 40rem;

    position: relative;
  }

  &__input {
    border: none;
    background-color: $color-grey-light-2;
    padding: 0.8rem 2.4rem;
    // margin-left: 3.6rem;
    width: 80%;
    // height: 100%;
    border-radius: 8px;
    height: 3.2rem;

    &:focus {
      outline: none;
      width: 90%;
      background-color: $color-grey-light-3;
      height: 3.6rem;
      // height: 110%;
    }

    &:focus + &__button {
      // background-color: $color-grey-light-3;
      // right: 0;
      // opacity: 0.5;
      // fill: aqua;
    }

    // &::-webkit-input-placeholder {
    //   font-weight: 100;
    //   color: var(--color-grey-light-4);
    // }
  }

  &__button {
    // position: absolute;
    border: none;
    background-color: inherit;
    transform: translateX(-2.5rem);

    // top: 0;
    // right: 9rem;
    cursor: pointer;

    &:focus {
      outline: none;
    }

    // &:active {
    //   transform: translateX(2.5rem);
    // }
  }

  &__icon {
    width: 2rem;
    height: 2rem;

    fill: $color-grey-dark-2;
  }
}
